<mat-card>
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <form (submit)="login(newSessionForm)" #newSessionForm="ngForm" *ngIf="!isloading">
  <mat-form-field >
      <input
        matInput
        type= "email"
        name="email"
        ngModel
        placeholder="Email"
        #emailInput="ngModel"
        required
        email
      />
        <mat-error *ngIf="emailInput.invalid">Please enter a valid Email.</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input
      matInput
      ngModel
      type='password'
      name="password"
      placeholder="Password"
      #passwordInput="ngModel"
      password
      required
      />
      <mat-error *ngIf="passwordInput.invalid">Please a Valid Password.</mat-error>
    </mat-form-field>

    <button type="submit" color="accent" mat-raised-button *ngIf="!isloading"> Login </button>
  </form>
</mat-card>
